# Java / Maven / Gradle
target/
build/
out/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Eclipse
.project
.classpath
.settings/

# STS (Spring Tool Suite)
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Other
*.swp
*.swo

# Optional: if you have secrets in application.properties
# src/main/resources/application.properties

# Optional: if you do not want to push DB dump files
# db/*.sql
